@if (Attachment is not null)
{
    <div class="hstack">
        <a type="button" href="@Attachment.AttachmentUrl" class="vstack bg-secondary">
            <img src="@($"png/{extension}.png")" width="90px" />
        </a>
        <div class="vstack flex-grow-1 justify-content-end mx-2">
            <p class="small ms-auto">@Attachment.Description</p>
            <button href="#" class="btn btn-icon btn-light-danger" @onclick="HandleDelete">
                <i class="ki-outline ki-trash fs-3"></i>
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public TicketAttachmentDTO? Attachment { get; set; }


    [Parameter, EditorRequired]
    public EventCallback<int> OnDelete { get; set; }


    string? extension;

    protected override void OnParametersSet()
    {
        extension = Path.GetExtension(Attachment?.FileName)?.Trim('.') ?? "default";
    }


    private async Task HandleDelete()
    {
        try
        {
            await OnDelete.InvokeAsync(Attachment!.Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }
}
