@if (Ticket is not null)
{
    <a class="card-body pb-3 text-decoration-none hover-elevate-up" href="/tickets/@Ticket.Id">
        <h3 class="h4 my-3">@Ticket.Title</h3>
        <a class="my-3" href="projects/@Ticket.Project?.Id">@Ticket.Project?.Name</a>
        <p class="my-3 fw-bold">Due: @Ticket.Created.ToString("d")</p>
        <div class="d-flex align-items-center">
            @if (Ticket.Archived == true)
            {
                <h6 class=""><span class="badge text-bg-secondary">Archived</span></h6>
            }
            <h4>
                <span class="badge badge-info">Urgent</span>
            </h4>
            <a class="fs-sm fw-semibold btn btn-sm btn-light-primary mx-3 mb-3 ms-auto" type="button" href="/tickets/@Ticket.Id">
                Details
            </a>
        </div>
    </a>
}


@code {
    #region Parameters
    [Parameter, EditorRequired]
    public TicketDTO? Ticket { get; set; }
    #endregion
        
    #region States
    #endregion



    #region Methods
    #endregion


}
