@page "/projects/{projectId:int}"

<h3>Details</h3>

@code {
    #region Parameters
    [Parameter]
    public string? Slug { get; set; }
    #endregion



    #region State
    #endregion



    #region Methods
    #endregion
}
