
<!--begin::Footer-->
<div id="kt_app_footer" class="app-footer">
    <!--begin::Footer container-->
    <div class="app-container container-fluid d-flex flex-column flex-md-row justify-content-md-around flex-md-stack py-3">
        <!--begin::Copyright-->
        <div class="text-gray-900 order-2 order-md-1">
            <div class="vstack gap-2">
                <span>Built by: <img src="/img/logo/mark_light.svg" height="20" /></span>
                <span>Austin Denofrio &copy; @DateTime.Now.Year </span>
            </div>
        </div>
        <!--end::Copyright-->
        <div class="my-3 my-md-1 order-md-2">
            <a href="https://www.linkedin.com/in/austin-denofrio-286792223/" target="_blank"><i class="bi bi-linkedin text-hover-primary fs-1"></i></a>
            <a href="https://twitter.com/A_Denofrio" target="_blank"><i class="bi bi-twitter text-hover-primary fs-1 ms-3"></i></a>
            <a href="https://github.com/AustinAdamDenofrio/Tasket" target="_blank"><i class="bi bi-github text-hover-gray-900 fs-1 ms-3"></i></a>
        </div>

        <!--begin::Menu-->
        <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-3">
            <li class="menu-item">
                <a href="https://denofrio-fullstack-developer.netlify.app/" target="_blank" class="menu-link px-2">Portfolio</a>
            </li>
            <li class="menu-item">
                <a href="https://github.com/AustinAdamDenofrio/BugFix-Center" target="_blank"
                   class="menu-link px-2">GitHub</a>
            </li>
            <li class="menu-item">
                <a href="https://currentblogs-production.up.railway.app/"
                   target="_blank" class="menu-link px-2">My Blog</a>
            </li>
        </ul>
        <!--end::Menu-->
    </div>
    <!--end::Footer container-->
</div>
<!--end::Footer-->
@code {

}
