<nav class="navbar navmenu navbar-expand-md" style="background-color: hsl(19, 50%, 16%);">
    <div class="container-xxl">
        <a href="/" class="navbar-brand me-3">
            <img />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0 flex-grow-1">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <img class="" src="/img/logo/BugTrackerHero_NoBG.png" height="45px" />
                        <span class="fs-2 text-white">
                            BugFix Center
                        </span>
                    </a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="Account/Register">
                        <i class="bi bi-person fs-2"></i>
                        <span class="fs-2 text-white">Register</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="Account/Login">
                        <i class="bi bi-person-badge fs-2"></i>
                        <span class="fs-2 text-white">Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>