@inherits LayoutComponentBase

<div class="d-flex h-100 flex-column">
    <!-- #region Nav Bar -->
    <header class="flex-shrink-0">
        <LandingPageNavMenu />
    </header>
    <!-- #endregion Nav Bar -->
    <main class="flex-grow-1">
        @Body
    </main>

    <footer class="flex-shrink-0" style="background-color: hsl(19, 50%, 16%);">
        <div class="footer p-3" data-bs-theme="dark">
            <div class="container-xxl text-body">
                <div class="row row-cols-1 row-cols-md-3 align-items-center">
                    <div class="col order-last order-md-first text-center text-md-start">
                        <div class="vstack gap-2">
                            <span>Built by: <img src="/img/logo/mark_dark.svg" height="30" /></span>
                            <span>&copy; @DateTime.Now.Year</span>
                        </div>
                    </div>
                    <div class="col d-none d-md-flex justify-content-md-center">
                        <img src="/img/logo/BugTrackerMarkLogo-cropped.png" height="80" />
                    </div>
                    <div class="col text-center text-md-end">
                        <div class="vstack">
                            <div class="my-3 my-md-1 ">
                                <a href="https://www.linkedin.com/in/austin-denofrio-286792223/" target="_blank"><i class="bi bi-linkedin text-hover-info fs-1"></i></a>
                                <a href="https://twitter.com/A_Denofrio" target="_blank"><i class="bi bi-twitter text-hover-info fs-1 ms-3"></i></a>
                                <a href="https://github.com/AustinAdamDenofrio" target="_blank"><i class="bi bi-github text-hover-info fs-1 ms-3"></i></a>
                            </div>
                            <div class="vstack my-3 d-md-flex flex-md-row justify-content-md-end">
                                <a href="https://denofrio-fullstack-developer.netlify.app/" class="fs-4 text-gray-700 text-hover-info">Portfolio</a>
                                <span class="d-none d-md-flex align-items-center mx-1">&bull;</span>
                                <a href="#" class="fs-4 text-gray-700 text-hover-info">Blog</a>
                                <span class="d-none d-md-flex align-items-center mx-1">&bull;</span>
                                <a href="#" class="fs-4 text-gray-700 text-hover-info">Bug Tracker</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    @*Error Handling. Dont delete*@
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>

@code {

}
