@inherits LayoutComponentBase


<main class="page-wrapper d-flex flex-column">
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <div>
                <SideNavMenu />
            </div>
            <!--begin::Header-->
            <NavMenu />
            <!--end::Header-->
            <!--begin::Wrapper-->
            <!--begin::Sidebar-->
            <!--end::Sidebar-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid container-xxl">
                        @Body

                    </div>
                    <!--end::Content wrapper-->
                    <!--begin::Footer-->
                    <!--end::Footer-->
                </div>
                <!--end:::Main-->
            </div>
            <!--end::Wrapper-->
            <Footer />
        </div>
        <!--end::Page-->
    </div>
    <!--end::App-->
</main>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
