<div class="container">

        <!-- Navbar brand (Logo) -->

        <a class="navbar-brand pe-sm-3 text-light" href="/">
            Tasket
        </a>

        <!-- Mobile menu toggler (Hamburger) -->
        <button class="navbar-toggler ms-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar collapse (Main navigation) -->
        <nav class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-scroll flex-grow-1" style="--ar-scroll-height: 520px;">

                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/company" Match="NavLinkMatch.Prefix">
                        Company Info
                    </NavLink>
                </li>

                <li class="nav-item dropdown">
                    <NavLink class="nav-link dropdown-toggle" href="categories" Match="NavLinkMatch.Prefix" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Projects
                    </NavLink>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="projects">All Projects</a></li>
                        <li><a class="dropdown-item" href="projects/archived">Archived</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                    <NavLink class="nav-link dropdown-toggle" href="categories" Match="NavLinkMatch.Prefix" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Tickets
                    </NavLink>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="tickets">All tickets</a></li>
                        <li><a class="dropdown-item" href="/tickets/archived">Archived</a></li>
                    </ul>
                </li>




                <AuthorizeView>

                    <Authorized>@* 
                        <li class="nav-item dropdown ms-lg-auto">
                            <NavLink class="nav-link dropdown-toggle" href="account" Match="NavLinkMatch.Prefix" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                @(context.User?.Identity?.Name ?? "Account")
                            </NavLink>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item nav-link ms-4" href="Account/Manage">
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <form class="dropdown-item" action="Account/Logout" method="post">
                                        <AntiforgeryToken />
                                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                        <button type="submit" class="nav-link">
                                            Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li> *@


                    </Authorized>

                    <NotAuthorized>
                        <li class="ms-lg-auto">
                            <NavLink class="nav-link" href="Account/Login" Match="NavLinkMatch.All">Login</NavLink>
                        </li>

                    </NotAuthorized>
                    <!-- ToDo: Push account to the right side -->
                </AuthorizeView>
            </ul>
        </nav>
    </div>